<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MainPage</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h2 style="text-align: center; color: rgb(110, 0, 0)">Main Page</h2>
    <h2 style="text-align: center; color: rgb(110, 0, 0)">
      Number of users : <span id="numbers"> <%= locals.len %> </span>
    </h2>
    <div class="search-box">
      <div style="width: 500px; margin-left: 25px; margin-top: 30px">
        <input
          type="button"
          class="butt"
          name=""
          value="LOGIN"
          onClick="window.open('http://127.0.0.1:3000/login','_self');"
        />
        <input
          type="button"
          class="butt"
          name=""
          value="REGISTER"
          onClick="window.open('http://127.0.0.1:3000/signup','_self');"
        />
        <input
          type="button"
          class="butt"
          name=""
          value="ABOUT US"
          onClick="alert('This website created by AmirHossein Zendevani :)')"
        />
      </div>
    </div>

    <div class="search-box">
      <% if ( locals.posts.length == 0) { %>
      <h3 style="color: rgb(125, 67, 0); text-align: center;">
        There is no post yet.
      </h3>

      <% } else {for(var i = (locals.posts.length-1); i >= 0 ; i--) { %>
      <div class="item-box">
        <div id="row"><%= locals.posts[i].subject%></div>

        <div id="item-datas" style="color: peru; margin-top: 8px;">
          <%= locals.posts[i].author%>
        </div>
        <br />
        <div id="item-datas" style="word-break: break-all; width: 440px;">
          <%= locals.posts[i].body%>
        </div>
        <br />

        <p
          id="item-datas"
          style="color: rgb(99, 0, 0);text-align: right; margin-right: 20px;"
        >
          <%= locals.posts[i].date%> <%= locals.posts[i].time%>
        </p>
        <p style="color: white; font-size: 3px;">hello</p>
      </div>
      <% }}; %>
    </div>
    <script>
          fetch('/api/numbers')
      .then(res => res.json())
      .then(data => document.getElementById("numbers").textContent = data)
      .catch(err => console.error(err));
    </script>
  </body>
</html>
